:root {
    --bg: rgb(239, 243, 242);
    --black: #2c2929;
    --grey: #aaa9a9;       
    --lightblue: #43bce0;    
    --blue: #066da8;    
    --lightgreen: #45e4c9;
    --white: #ffffff;
    --red: rgba(253, 3, 3, 0.5);
}

* {
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
    
}

a {
    color: var(--bg);
    text-decoration: none;
}

a:visited {    
    color: var(--bg);
}
/* ----- HEADER ----- */
header {    
    display: grid;
    grid-template-columns: auto auto auto;    
    align-content: center;
    padding: 15px;
    background-color: var(--bg);
}

.header-logo { 
    justify-self: right;  
    align-self: center;
    padding: 10px;
}
.logo {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-logo-nombre {
    align-self: center;
    text-align: start;    
}

.logo-nombre {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    color: var(--black);
}

/* ----- CARRITO -----*/
.section-carrito {
    display: grid;
    grid-template-columns: auto auto;    
    align-content: center;
    padding: 15px;
}

.carrito-button{
    background-color: var(--lightblue);
    color: var(--white);
    padding: 16px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
}

.carrito-button:hover{
    background-color: var(--lightgreen);
    border:none;
    cursor: pointer;    
}

#btns-carrito {
    display: flex;
    gap: 8px;
    cursor: pointer;  
}

#container-carrito::-webkit-scrollbar {
    width: 8px; 
}

#container-carrito::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 4px;    
}

#container-carrito::-webkit-scrollbar-thumb:hover {
    background-color: var(--grey); 
}

#container-all-carrito {
    display: none;
    position: absolute;
    background-color: var(--white);
    border: 3px solid var(--lightblue);
    border-radius: 15px;
    margin-top: 1rem;
    padding: 10px;
    z-index: 1000;
    width: 300px;
    max-height: 500px; 
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: var(--grey); 
    transition: 0.3s ease-in-out;
}

@media (max-width: 1600px) {
    .section-carrito {
        margin-right: 5rem;
    }
}

@media (max-width: 1200px) {
    .section-carrito {
        margin-right: 8rem;
    }
}

@media (max-width: 900px) {
    .section-carrito {
        margin-right: 5rem;
    }
    #container-all-carrito {
        width: 200px;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 20px;
    }
    .section-carrito {
        margin-right: 6rem;
    }
    #container-all-carrito {
        width: 150px;
    }
    #btns-carrito {
        display: flex;
        flex-direction: column;
    }
}

#vaciar-carrito {
    display: none;
    background-color: var(--red);
}

#realizar-compra {
    font-size: 18px;
}

.carrito-item {
    border-bottom: 1px solid var(--black);
    padding: 10px;
}

.carrito-item:last-child {
    border-bottom: none;
}

.carrito {
    justify-self: right;
    padding: 10px;
 }

.carrito-image {
    width: 40px; 
    display: block;
    margin-left: auto;
    margin-right: auto;     
}

.carrito-contador{    
    align-self: center;
}

.carrito-contador-texto {
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: large;
}

/* ----- NAV ----- */

.menu-buttons-container {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 6px;     
    margin-bottom: 20px;
    box-shadow: 4px 5px 5px var(--lightblue);       
}

.menu-button {
    background-color: var(--blue);
    color: var(--white);
    padding: 16px;
    font-size: 14px;
    border: none;
}

.menu-button:hover{
    background-color: var(--lightblue);
    border:none;
    cursor: pointer;    
}

/* ----- SECTION IMAGEN ----- */
.section-home-image {
    background-image: url("/images/home-image-small.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

@media only screen and (min-width: 600px) {
    .section-home-image { 
       background-image: url("/images/home-image.jpg"); 
    }
  }

/* ----- BUSCADOR ----- */
.search-input {
    width: 400px;
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--white);
    border-style: none;
    padding-left: 40px;
    background-image: url('/images/navsearch-lupa2.png');
    background-position: 3px;
    background-repeat: no-repeat;
    outline: 1px solid var(--grey);
}

.search-input:focus, 
.search-input:active, 
.search-input:hover {
    outline: 1px solid var(--black);
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    justify-self: right;
    align-self: center;
}

/* ----- BOTONES ORDENAR ----- */
.order-button {
    border-radius: 15px;
    font-size: 15px;    
    transition: 0.3s;
    transform: translateY(5px);
    background-color: var(--blue);
    color: var(--white);
    padding: 16px;    
    border: none;
}

.order-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* ----- MAIN ----- */

#div-ordenar-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 25px;
}

.main-container {    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;    
    gap: 20px;
    justify-content: center;
    margin: 50px;
    padding: 20px;
    margin-top: 40px;
}

.div-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--white);         
    border: 2px solid var(--grey);
    width: 300px;
    height: 400px;
    overflow: hidden;
    transition: .3s ease;
}

.div-card:hover {
    box-shadow: 10px 6px 6px var(--grey);
}

.producto-imagen {
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}

.producto-nombre {
    font-size: large;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px; 
}

.producto-importe {
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    font-family: monospace;
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
}
.producto-importe p {
    margin: 5px;
}

.producto-btnagregar {
    margin-top: 50px;    
}

.btnagregar {
    background-color: var(--lightblue);
    color: var(--white); 
    padding: 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
.btnagregar:hover{
    transition: 0.2s ease-in-out;
    background-color: var(--black);
    border:none;
    cursor: pointer;    
}

/* ----- FOOTER ----- */

footer {
    background-color: var(--blue); 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-text {
    background-color: var(--blue);  
    color: var(--white); 
}

#btn-carrito {
    display: none;
}    

#ocultar-carrito {
    display: none;
}    

#container-carrito {
    display: none;
}

.alerta {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightblue);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

.alerta .cerrar {
    margin-left: 15px;
    color: var(--white);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

